<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="excel-py-iris.ZPM">
    <Module>
      <Name>excel-py-iris</Name>
      <Version>0.0.1</Version>
      <Description>excel-py-iris</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="otw.iris.PKG"/>
      <FileCopy Name="excel/" Target="${mgrdir}excel/"/>
      <FileCopy Name="python/" Target="${mgrdir}python/"/>
      <Dependencies>
        <ModuleReference>
          <Name>iris-globals-contest</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
    </Module>
  </Document>
</Export>
